.ngrxPreReqs a{
    margin-left: 20px;

}

.ngrxPreReqs a .logoSize {
    width: 80px;
}





.filename {
    
    color: var(--primaryColor);
    text-decoration: underline;
    width: 100%;
}

.codeBlock {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto 50px;
    grid-template-areas: 
    "codespot"
    "filename"
    ;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    margin-bottom: 0px;
    
                        
}
.codeInputBlock {
    grid-area: codespot;
    /* background-color: #eee; */
    border: 1px solid #999;
    width: 100%;
    padding: 0;
    font-family: sans-serif;
    font-size: 14px;
    background-color: black;
    align-items: center;
    
    color: white;
}
.codeInputBlock p {
    font-family: sans-serif;
    font-size: 14px;
}

.codefileInfo {
    grid-area: filename;
    width: 100%;
    color: white;
    background-color:#333;
    padding: 10px 10px;
    margin: 0px;
    font-family: sans-serif;
    font-size: 14px;
}
pre {
    width: 400px;
    background-color: #000;
    white-space: normal;

}
pre code {
    display: inline-block;
    color: black;
    padding: 20px;
    
    height: auto;
    white-space: normal;
}
.importStyle {
    color: var(--primaryColor);
}
.moduleStyle {
    color: lightskyblue;
}

.folderStyle {
    color: #7AC943;
}
.fileStyle {
    color: #CE9178;
}
.decoratorStyle {
    color: yellow;
}
.codeIndent {
    margin-left: 40px;
}

