.sideMenuContainer{
    grid-area: sideMenuContainer;
    margin: 0px;

}
.sideMenuContainer .nav-list {
    text-decoration: none;
    margin-top: 0px;
    
    

}
#nav-bar .nav-list {
    list-style-type: none;
    padding: 0px;
}
#nav-bar .nav-list .nav-li {
    padding: 20px;
    border-top: var(--secondayColor) 2px solid;
    border-left:var(--secondayColor) 2px solid;
    border-right: var(--secondayColor) 2px solid;
    border-bottom: none;
    

}
#nav-bar .nav-list .nav-li:first-child {
    border-bottom: none;
}
#nav-bar .nav-list .nav-li:last-child {
    border-bottom: var(--secondayColor) 2px solid;;
}
#nav-bar .nav-li a {
    text-decoration: none;
    color:var(--secondayColor);
}
#nav-bar .nav-li a:hover {
    
    color:var(--primaryColor);
}

@media (max-width: 1154px) {

    body {
        font-family: omnes-cyrillic, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 24px;
        background-color:magenta;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 1fr;
        grid-template-areas: 
        "contentContainer"
        ;
        
    }
    .sideMenuContainer {
        visibility: collapse;
        width: 0;
    }
    .topMenuContainer {
        height: 40px;
        width: 100%;
        background-color: var(--accent1Color);
        position: absolute;
        top: 0;
        left: 0;
        z-index: 10;
        
    }

  

     
}