.stronglyTypedGrid1 {
    display: flex;
    flex-direction: row;
    column-gap: 20px;
    width: 80%;
    align-items: center;
    margin: auto;
}

.stronglyTypedGrid1Pic {
    max-width: 60%;
    overflow: hidden;

}
#strongtypedPic1 {
    width: 80%;
}
.stronglyTypedGrid1CodeBlock1 {
   
}

.stronglyTypedGrid1CodeBlock1 .codeInputBlock {
    width: 500px;
}